{
  "extends": "stylelint-config-wordpress/scss",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "no-descending-specificity": null,
    "order/properties-alphabetical-order": true,
    "max-line-length": 180,
    "unit-whitelist": ["em", "rem", "%", "s", "px", "vh", "vw", "deg"],
    "rule-empty-line-before": [ "always", {
      "except": ["first-nested"],
      ignore: ["after-comment", "first-nested", "inside-block"]
    } ],
    "at-rule-empty-line-before": [ "always", {
      ignore: ["after-comment", "first-nested", "inside-block", "blockless-after-same-name-blockless", "blockless-after-blockless"]
    } ],
    "comment-empty-line-before": [ "always", {
      "ignore": ["stylelint-commands", "after-comment"]
    } ],
    "declaration-colon-space-after": "always-single-line",
    "indentation": ["tab"],
    "string-quotes": "single",
    "declaration-colon-newline-after": "always-multi-line",
    "value-list-comma-newline-after": "always-multi-line",
    "value-list-comma-space-after": "always-single-line",
    "value-list-comma-space-before": "never"
  }
}