//--------------------------------------------------------------
// Menu
//--------------------------------------------------------------

//-----------------------------------------
// Off-canvas Menu
//-----------------------------------------
body {

	//-----------------------------------------
	// Open Menu
	//-----------------------------------------
	&.menu-open {
		left: -#{$menu-width};
		overflow: hidden;
		position: relative;

		// Target navigation wrapper.
		#primary {
			right: 0;

			// Set overlay.
			&::after {
				background-color: rgba(255, 255, 255, 0.85);
				box-shadow: $box-shadow;
				content: '';
				height: 100%;
				left: -#{$menu-width};
				opacity: 1;
				visibility: visible;
			}
		}

		.search-toggle {
			opacity: 0;
		}
	} // &.menu-open
} // body

//-----------------------------------------
// Primary Menu
//-----------------------------------------
#primary {
	@include padding($gutter / 3);

	background-color: #fff;
	box-sizing: border-box;
	max-width: 100%;
	min-height: 100vh;
	overflow-y: scroll;
	position: fixed;
	right: -#{$menu-width};
	text-align: center;
	top: 0;
	transition: $transition-menu;
	width: $menu-width;
	z-index: 500;

	@include media($tablet-large) {
		@include padding($gutter);

		.nav-is-visible & {
			@include padding(0);

			background-color: transparent;
			min-height: 0;
			right: $gutter;
			top: $gutter;
			width: calc(100% - #{$spacing * 3});
		}
	}

	// Set position and init of overlay.
	&::after {
		content: '';
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: fixed;
		top: 0;
		transition: $transition-menu;
		visibility: hidden;
		width: 100%;
		z-index: 499;
	} // &::after

	// Style primary navigation.
	> ul {
		@include padding($gutter * 1.667 $gutter / 3 $gutter / 3);
		@include position(absolute, 50% null null 0);

		margin: 0;
		transform: translateY(-50%);
		width: 100%;

		@include media($tablet-large) {
			@include padding(0 $gutter $gutter);

			.nav-is-visible & {
				@include padding(1px);
				@include position(relative, 0 0 0 0);

				text-align: right;
				transform: none;
				width: auto;
			}
		}

		li {
			text-align: right;

			@include media($tablet-large) {

				.nav-is-visible & {
					display: inline-block;
					margin-left: 20px;

					&:first-child {
						margin-left: 0;
					}
				}
			}

			//-----------------------------------------
			// Current Pages
			//-----------------------------------------
			&.current-menu-item,
			&.current_page-item {

				a {
					font-weight: 600;
				}
			}

			a {
				@include links('dark');

				display: inline-block;
				margin-bottom: 10px;

				.nav-is-visible & {
					margin-bottom: 0;
				}
			}

			.sub-menu {
				font-size: 95%;
				margin: 0;
				padding: 0;
			}
		}
	} // > ul
} // #primary

//-----------------------------------------
// Menu Button
//-----------------------------------------
#menu-toggle {
	@include position(fixed, $gutter / 3 $gutter / 3 null null);
	@include size($gutter / 2, $gutter / 2);

	background-color: transparent;
	border: 0;
	cursor: pointer;
	padding: 0;
	transition: $transition-outline;
	z-index: 501;

	@include media($tablet-large) {
		@include position(fixed, $gutter $gutter null null);

		.nav-is-visible & {
			display: none;
		}
	}

	// Adjust the position of the menu when the admin bar is present.
	.admin-bar & {
		@include position(fixed, $gutter / 2 + 46px $gutter / 2 null null);

		@include media($tablet-large) {
			@include position(fixed, $gutter + 32px $gutter null null);
		}
	}

	&:hover {

		> span {
			@include size(15px, 2px);

			&::after {
				@include size(10px, 100%);
			}
		}
	}

	&:focus {
		outline: 1px dashed #000;
	}

	//-----------------------------------------
	// Hamburger Lines
	//-----------------------------------------
	> span,
	> span::after,
	> span::before {
		background-color: #000;
		transform-origin: right;
		transition: $transition-toggle;
	}

	> span {
		@include position(absolute, 50% 0 null null);
		@include size(35px, 2px);

		display: block;
		transform: translateY(-50%);
		transition: $transition-width;
		user-select: none;

		&::after,
		&::before {
			@include position(absolute, null 0 null null);
			@include size(25px, 100%);

			content: '';
		}

		&::after {
			transform: translateY(10px);
			transition: $transition-width;
		}

		&::before {
			transform: translateY(-10px);
		}
	}

	//-----------------------------------------
	// Hamburger Lines Open
	//-----------------------------------------
	.menu-open & {

		&:hover {

			> span {
				@include size(37px, 2px);

				&::after {
					@include size(25px, 100%);
				}
			}
		}

		> span {
			@include size(32px, 2px);

			&::after {
				transform: translateY(0) rotate(-45deg) scaleX(0.65);
			}

			&::before {
				transform: translateY(0) rotate(45deg) scaleX(0.65);
			}
		}
	}
}

//-----------------------------------------
// Social Menu
//-----------------------------------------
.social-menu {
	@extend .container;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin-bottom: 10px;
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}

			a {
				@include links('mono');

				display: inline-block;

				svg {
					@include size(30px, 30px);
				}
			}
		}
	}
}
