//--------------------------------------------------------------
// Alignments
//--------------------------------------------------------------

//-----------------------------------------
// Mixin
//-----------------------------------------
@mixin alignments {

	&.alignwide {
		border-radius: $radius;
		max-width: 100vw; // Ensure we're outside defaults.
		width: 100%;

		@include media($tablet-large) {
			left: 50%;
			margin-left: calc(-50vw + 37.5%);
			margin-right: calc(-50vw + 37.5%);
			position: relative;
			right: 50%;
			width: calc(100vw - 75%);
		}
	}

	&.alignfull {
		border-radius: 0;
		max-width: 100vw; // Ensure we're outside defaults.
		width: 100%;

		@include media($tablet-large) {
			left: 50%;
			margin-left: calc(-50vw + #{$gutter});
			margin-right: calc(-50vw + #{$gutter});
			position: relative;
			right: 50%;
			width: calc(100vw - #{$gutter * 2});
		}

		img {
			border-radius: 0;
		}
	}
}
