//--------------------------------------------------------------
// Page Styles
//--------------------------------------------------------------

//-----------------------------------------
// Import Global Elements
//-----------------------------------------
@import './global';
@import './shared/embeds';
@import './shared/post-content';

//-----------------------------------------
// Post Content
//-----------------------------------------
.post-single {
	@include post-content;
}
